.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

#ignore pdf and upload folders
public/pdf/
public/img/uploads/

#ignore the config php
app/config/config.php

#ignore IDEA files
.DS_Store
.idea